.edit-profile-form{
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit-profile-container, .edit-profile-inp-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: unset !important;
}

.edit-profile-inp{
    margin: 5px 0;
}

.btn-container{
    display: flex;
    align-items: center !important;
    justify-content: space-between;
}